<table width="100%" cellpadding="0" cellspacing="0">
<tr>
    <td class="content-block">
        <h1 class="aligncenter">{{amount}} Kč Paid</h1>
    </td>
</tr>
<tr>
    <td class="content-block">
        <h2 class="aligncenter">Děkujeme, že používáte Acme Inc.</h2>
    </td>
</tr>
<tr>
    <td class="content-block aligncenter">
        <table class="invoice">
            <tr>
                <td>Bruce Wayne<br>Faktura #{{variable_symbol}}<br>{{date}}</td>
            </tr>
            <tr>
                <td>
                    <table class="invoice-items" cellpadding="0" cellspacing="0">

                        {{#each items}}
                        <tr>
                            <td>
                                <h3>{{this.name}}</h3>
                            </td>
                            <td class="alignright">
                                <h3>$ {{this.amount}}</h3>
                            </td>
                        </tr>
                        {{/each}}

                        <tr class="total">
                            <td class="alignright" width="80%">Celkem</td>
                            <td class="alignright">{{amount}} Kč</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="content-block aligncenter">
        <a href="http://www.mailgun.com">Zobrazit v prohlížeči</a>
    </td>
</tr>
<tr>
    <td class="content-block aligncenter">
        Acme Inc. 123 Van Ness, San Francisco 94102
    </td>
</tr>
</table>